/* Version: 1.2.0 - Generated 2022-03-15 14:29:38 */
.aspect--1-1 {
  aspect-ratio: 1 / 1;
}
img.aspect--1-1 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--1-1 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.aspect--1-2 {
  aspect-ratio: 1 / 2;
}
img.aspect--1-2 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--1-2 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 2;
}
.aspect--2-1 {
  aspect-ratio: 2 / 1;
}
img.aspect--2-1 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--2-1 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 1;
}
.aspect--2-3 {
  aspect-ratio: 2 / 3;
}
img.aspect--2-3 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--2-3 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 3;
}
.aspect--3-2 {
  aspect-ratio: 3 / 2;
}
img.aspect--3-2 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--3-2 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
}
.aspect--3-4 {
  aspect-ratio: 3 / 4;
}
img.aspect--3-4 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--3-4 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
}
.aspect--4-3 {
  aspect-ratio: 4 / 3;
}
img.aspect--4-3 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--4-3 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
}
.aspect--16-9 {
  aspect-ratio: 16 / 9;
}
img.aspect--16-9 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--16-9 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}
.aspect--9-16 {
  aspect-ratio: 9 / 16;
}
img.aspect--9-16 {
  -o-object-fit: cover;
  object-fit: cover;
}
.aspect--9-16 iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 9 / 16;
}
@media (max-width: 1439px) {
  .aspect--xl-1-1 {
    aspect-ratio: 1 / 1;
  }
  img.aspect--xl-1-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-1-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  .aspect--xl-1-2 {
    aspect-ratio: 1 / 2;
  }
  img.aspect--xl-1-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-1-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
  }
  .aspect--xl-2-1 {
    aspect-ratio: 2 / 1;
  }
  img.aspect--xl-2-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-2-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
  }
  .aspect--xl-2-3 {
    aspect-ratio: 2 / 3;
  }
  img.aspect--xl-2-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-2-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
  }
  .aspect--xl-3-2 {
    aspect-ratio: 3 / 2;
  }
  img.aspect--xl-3-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-3-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
  }
  .aspect--xl-3-4 {
    aspect-ratio: 3 / 4;
  }
  img.aspect--xl-3-4 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-3-4 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
  }
  .aspect--xl-4-3 {
    aspect-ratio: 4 / 3;
  }
  img.aspect--xl-4-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-4-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
  }
  .aspect--xl-16-9 {
    aspect-ratio: 16 / 9;
  }
  img.aspect--xl-16-9 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-16-9 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }
  .aspect--xl-9-16 {
    aspect-ratio: 9 / 16;
  }
  img.aspect--xl-9-16 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--xl-9-16 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
  }
}
@media (max-width: 991px) {
  .aspect--l-1-1 {
    aspect-ratio: 1 / 1;
  }
  img.aspect--l-1-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-1-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  .aspect--l-1-2 {
    aspect-ratio: 1 / 2;
  }
  img.aspect--l-1-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-1-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
  }
  .aspect--l-2-1 {
    aspect-ratio: 2 / 1;
  }
  img.aspect--l-2-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-2-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
  }
  .aspect--l-2-3 {
    aspect-ratio: 2 / 3;
  }
  img.aspect--l-2-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-2-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
  }
  .aspect--l-3-2 {
    aspect-ratio: 3 / 2;
  }
  img.aspect--l-3-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-3-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
  }
  .aspect--l-3-4 {
    aspect-ratio: 3 / 4;
  }
  img.aspect--l-3-4 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-3-4 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
  }
  .aspect--l-4-3 {
    aspect-ratio: 4 / 3;
  }
  img.aspect--l-4-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-4-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
  }
  .aspect--l-16-9 {
    aspect-ratio: 16 / 9;
  }
  img.aspect--l-16-9 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-16-9 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }
  .aspect--l-9-16 {
    aspect-ratio: 9 / 16;
  }
  img.aspect--l-9-16 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--l-9-16 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
  }
}
@media (max-width: 767px) {
  .aspect--m-1-1 {
    aspect-ratio: 1 / 1;
  }
  img.aspect--m-1-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-1-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  .aspect--m-1-2 {
    aspect-ratio: 1 / 2;
  }
  img.aspect--m-1-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-1-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
  }
  .aspect--m-2-1 {
    aspect-ratio: 2 / 1;
  }
  img.aspect--m-2-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-2-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
  }
  .aspect--m-2-3 {
    aspect-ratio: 2 / 3;
  }
  img.aspect--m-2-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-2-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
  }
  .aspect--m-3-2 {
    aspect-ratio: 3 / 2;
  }
  img.aspect--m-3-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-3-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
  }
  .aspect--m-3-4 {
    aspect-ratio: 3 / 4;
  }
  img.aspect--m-3-4 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-3-4 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
  }
  .aspect--m-4-3 {
    aspect-ratio: 4 / 3;
  }
  img.aspect--m-4-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-4-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
  }
  .aspect--m-16-9 {
    aspect-ratio: 16 / 9;
  }
  img.aspect--m-16-9 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-16-9 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }
  .aspect--m-9-16 {
    aspect-ratio: 9 / 16;
  }
  img.aspect--m-9-16 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--m-9-16 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
  }
}
@media (max-width: 479px) {
  .aspect--s-1-1 {
    aspect-ratio: 1 / 1;
  }
  img.aspect--s-1-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-1-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  .aspect--s-1-2 {
    aspect-ratio: 1 / 2;
  }
  img.aspect--s-1-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-1-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
  }
  .aspect--s-2-1 {
    aspect-ratio: 2 / 1;
  }
  img.aspect--s-2-1 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-2-1 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
  }
  .aspect--s-2-3 {
    aspect-ratio: 2 / 3;
  }
  img.aspect--s-2-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-2-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
  }
  .aspect--s-3-2 {
    aspect-ratio: 3 / 2;
  }
  img.aspect--s-3-2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-3-2 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
  }
  .aspect--s-3-4 {
    aspect-ratio: 3 / 4;
  }
  img.aspect--s-3-4 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-3-4 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 4;
  }
  .aspect--s-4-3 {
    aspect-ratio: 4 / 3;
  }
  img.aspect--s-4-3 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-4-3 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
  }
  .aspect--s-16-9 {
    aspect-ratio: 16 / 9;
  }
  img.aspect--s-16-9 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-16-9 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }
  .aspect--s-9-16 {
    aspect-ratio: 9 / 16;
  }
  img.aspect--s-9-16 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aspect--s-9-16 iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
  }
}
@supports not (aspect-ratio: 1.7777777778) {
  .aspect--1-1::before {
    float: left;
    padding-top: 100%;
    content: "";
  }
  .aspect--1-1::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--1-2::before {
    float: left;
    padding-top: 50%;
    content: "";
  }
  .aspect--1-2::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--2-1::before {
    float: left;
    padding-top: 200%;
    content: "";
  }
  .aspect--2-1::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--2-3::before {
    float: left;
    padding-top: 150%;
    content: "";
  }
  .aspect--2-3::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--3-2::before {
    float: left;
    padding-top: 66%;
    content: "";
  }
  .aspect--3-2::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--3-4::before {
    float: left;
    padding-top: 133%;
    content: "";
  }
  .aspect--3-4::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--4-3::before {
    float: left;
    padding-top: 75%;
    content: "";
  }
  .aspect--4-3::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--16-9::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }
  .aspect--16-9::after {
    display: block;
    content: "";
    clear: both;
  }
  .aspect--9-16::before {
    float: left;
    padding-top: 177%;
    content: "";
  }
  .aspect--9-16::after {
    display: block;
    content: "";
    clear: both;
  }
  @media (max-width: 1439px) {
    .aspect--1-1::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
    .aspect--1-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--1-2::before {
      float: left;
      padding-top: 50%;
      content: "";
    }
    .aspect--1-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-1::before {
      float: left;
      padding-top: 200%;
      content: "";
    }
    .aspect--2-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-3::before {
      float: left;
      padding-top: 150%;
      content: "";
    }
    .aspect--2-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-2::before {
      float: left;
      padding-top: 66%;
      content: "";
    }
    .aspect--3-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-4::before {
      float: left;
      padding-top: 133%;
      content: "";
    }
    .aspect--3-4::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--4-3::before {
      float: left;
      padding-top: 75%;
      content: "";
    }
    .aspect--4-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--16-9::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
    .aspect--16-9::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--9-16::before {
      float: left;
      padding-top: 177%;
      content: "";
    }
    .aspect--9-16::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  @media (max-width: 991px) {
    .aspect--1-1::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
    .aspect--1-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--1-2::before {
      float: left;
      padding-top: 50%;
      content: "";
    }
    .aspect--1-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-1::before {
      float: left;
      padding-top: 200%;
      content: "";
    }
    .aspect--2-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-3::before {
      float: left;
      padding-top: 150%;
      content: "";
    }
    .aspect--2-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-2::before {
      float: left;
      padding-top: 66%;
      content: "";
    }
    .aspect--3-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-4::before {
      float: left;
      padding-top: 133%;
      content: "";
    }
    .aspect--3-4::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--4-3::before {
      float: left;
      padding-top: 75%;
      content: "";
    }
    .aspect--4-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--16-9::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
    .aspect--16-9::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--9-16::before {
      float: left;
      padding-top: 177%;
      content: "";
    }
    .aspect--9-16::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  @media (max-width: 767px) {
    .aspect--1-1::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
    .aspect--1-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--1-2::before {
      float: left;
      padding-top: 50%;
      content: "";
    }
    .aspect--1-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-1::before {
      float: left;
      padding-top: 200%;
      content: "";
    }
    .aspect--2-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-3::before {
      float: left;
      padding-top: 150%;
      content: "";
    }
    .aspect--2-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-2::before {
      float: left;
      padding-top: 66%;
      content: "";
    }
    .aspect--3-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-4::before {
      float: left;
      padding-top: 133%;
      content: "";
    }
    .aspect--3-4::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--4-3::before {
      float: left;
      padding-top: 75%;
      content: "";
    }
    .aspect--4-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--16-9::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
    .aspect--16-9::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--9-16::before {
      float: left;
      padding-top: 177%;
      content: "";
    }
    .aspect--9-16::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  @media (max-width: 479px) {
    .aspect--1-1::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
    .aspect--1-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--1-2::before {
      float: left;
      padding-top: 50%;
      content: "";
    }
    .aspect--1-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-1::before {
      float: left;
      padding-top: 200%;
      content: "";
    }
    .aspect--2-1::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--2-3::before {
      float: left;
      padding-top: 150%;
      content: "";
    }
    .aspect--2-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-2::before {
      float: left;
      padding-top: 66%;
      content: "";
    }
    .aspect--3-2::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--3-4::before {
      float: left;
      padding-top: 133%;
      content: "";
    }
    .aspect--3-4::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--4-3::before {
      float: left;
      padding-top: 75%;
      content: "";
    }
    .aspect--4-3::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--16-9::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
    .aspect--16-9::after {
      display: block;
      content: "";
      clear: both;
    }
    .aspect--9-16::before {
      float: left;
      padding-top: 177%;
      content: "";
    }
    .aspect--9-16::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}
body {
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-section-inner-wrap {
  padding: 6rem 0rem;
  padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(7.2rem, calc(4.2857142857vw + 5.8285714286rem), 12rem) 0rem;
}
.oxy-header-container {
  padding-left: 0rem;
  padding-right: 0rem;
}
.pad-section--xs .ct-section-inner-wrap {
  padding: 1.896rem 0rem;
  padding: calc(3.2rem + (2.1333333333 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(3.2rem, calc(1.9047619048vw + 2.5904761905rem), 5.3333333333rem) 0rem;
}
.pad-section--s .ct-section-inner-wrap {
  padding: 2.133rem 0rem;
  padding: calc(4.8rem + (3.2 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(4.8rem, calc(2.8571428571vw + 3.8857142857rem), 8rem) 0rem;
}
.pad-section--m .ct-section-inner-wrap {
  padding: 2.4rem 0rem;
  padding: calc(7.2rem + (4.8 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(7.2rem, calc(4.2857142857vw + 5.8285714286rem), 12rem) 0rem;
}
.pad-section--l .ct-section-inner-wrap {
  padding: 2.7rem 0rem;
  padding: calc(9.36rem + (8.64 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(9.36rem, calc(7.7142857143vw + 6.8914285714rem), 18rem) 0rem;
}
.pad-section--xl .ct-section-inner-wrap {
  padding: 3.038rem 0rem;
  padding: calc(12.168rem + (14.832 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(12.168rem, calc(13.2428571429vw + 7.9302857143rem), 27rem) 0rem;
}
.pad-section--xxl .ct-section-inner-wrap {
  padding: 3.42rem 0rem;
  padding: calc(15.8184rem + (24.6816 * ((100vw - 32rem) / 112))) 0rem;
  padding: clamp(15.8184rem, calc(22.0371428571vw + 8.7665142857rem), 40.5rem) 0rem;
}
.pad-section--none .ct-section-inner-wrap {
  padding: 0 0rem;
}
.pad--none .ct-section-inner-wrap {
  padding: 0 !important;
}
.ct-section.height--20 > .ct-section-inner-wrap {
  min-height: 20vh;
}
.ct-section.height--30 > .ct-section-inner-wrap {
  min-height: 30vh;
}
.ct-section.height--40 > .ct-section-inner-wrap {
  min-height: 40vh;
}
.ct-section.height--50 > .ct-section-inner-wrap {
  min-height: 50vh;
}
.ct-section.height--60 > .ct-section-inner-wrap {
  min-height: 60vh;
}
.ct-section.height--70 > .ct-section-inner-wrap {
  min-height: 70vh;
}
.ct-section.height--80 > .ct-section-inner-wrap {
  min-height: 80vh;
}
.ct-section.height--90 > .ct-section-inner-wrap {
  min-height: 90vh;
}
.ct-section.height--full > .ct-section-inner-wrap {
  min-height: 100vh;
}
.ct-section.max-height--20 > .ct-section-inner-wrap {
  max-height: 20vh;
}
.ct-section.max-height--30 > .ct-section-inner-wrap {
  max-height: 30vh;
}
.ct-section.max-height--40 > .ct-section-inner-wrap {
  max-height: 40vh;
}
.ct-section.max-height--50 > .ct-section-inner-wrap {
  max-height: 50vh;
}
.ct-section.max-height--60 > .ct-section-inner-wrap {
  max-height: 60vh;
}
.ct-section.max-height--70 > .ct-section-inner-wrap {
  max-height: 70vh;
}
.ct-section.max-height--80 > .ct-section-inner-wrap {
  max-height: 80vh;
}
.ct-section.max-height--90 > .ct-section-inner-wrap {
  max-height: 90vh;
}
.ct-section.max-height--full > .ct-section-inner-wrap {
  max-height: 100vh;
}
.ct-section.owl--xs .ct-section-inner-wrap > * + * {
  margin-top: 1.896rem;
  margin-top: calc(1.0666666667rem + (0.2666666667 * ((100vw - 32rem) / 112)));
  margin-top: clamp(1.0666666667rem, calc(0.2380952381vw + 0.9904761905rem), 1.3333333333rem);
}
.ct-section.owl--s .ct-section-inner-wrap > * + * {
  margin-top: 2.133rem;
  margin-top: calc(1.6rem + (0.4 * ((100vw - 32rem) / 112)));
  margin-top: clamp(1.6rem, calc(0.3571428571vw + 1.4857142857rem), 2rem);
}
.ct-section.owl--m .ct-section-inner-wrap > * + * {
  margin-top: 2.4rem;
  margin-top: calc(2.4rem + (0.6 * ((100vw - 32rem) / 112)));
  margin-top: clamp(2.4rem, calc(0.5357142857vw + 2.2285714286rem), 3rem);
}
.ct-section.owl--l .ct-section-inner-wrap > * + * {
  margin-top: 2.7rem;
  margin-top: calc(3.12rem + (1.38 * ((100vw - 32rem) / 112)));
  margin-top: clamp(3.12rem, calc(1.2321428571vw + 2.7257142857rem), 4.5rem);
}
.ct-section.owl--xl .ct-section-inner-wrap > * + * {
  margin-top: 3.038rem;
  margin-top: calc(4.056rem + (2.694 * ((100vw - 32rem) / 112)));
  margin-top: clamp(4.056rem, calc(2.4053571429vw + 3.2862857143rem), 6.75rem);
}
.ct-section.owl--xxl .ct-section-inner-wrap > * + * {
  margin-top: 3.42rem;
  margin-top: calc(5.2728rem + (4.8522 * ((100vw - 32rem) / 112)));
  margin-top: clamp(5.2728rem, calc(4.3323214286vw + 3.8864571429rem), 10.125rem);
}
.ct-section.flex--col .ct-section-inner-wrap {
  display: flex;
  flex-direction: column;
}
.ct-section.flex--row .ct-section-inner-wrap {
  display: flex;
  flex-direction: row;
}
.ct-section.flex--col-reverse .ct-section-inner-wrap {
  display: flex;
  flex-direction: column-reverse;
}
.ct-section.flex--row-reverse .ct-section-inner-wrap {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1439px) {
  .flex--col-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .flex--row-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .flex--col-reverse-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex--row-reverse-xl .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .flex--col-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .flex--row-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .flex--col-reverse-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex--row-reverse-l .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .flex--col-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .flex--row-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .flex--col-reverse-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex--row-reverse-m .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 479px) {
  .flex--col-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
  .flex--row-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
  }
  .flex--col-reverse-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex--row-reverse-s .ct-section-inner-wrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
.ct-section.justify-content--start .ct-section-inner-wrap {
  display: flex;
  justify-content: flex-start;
}
.ct-section.justify-content--end .ct-section-inner-wrap {
  display: flex;
  justify-content: flex-end;
}
.ct-section.justify-content--center .ct-section-inner-wrap {
  display: flex;
  justify-content: center;
}
.ct-section.justify-content--between .ct-section-inner-wrap {
  display: flex;
  justify-content: space-between;
}
.ct-section.justify-content--around .ct-section-inner-wrap {
  display: flex;
  justify-content: space-around;
}
.ct-section.justify-content--stretch .ct-section-inner-wrap {
  display: flex;
  justify-content: stretch;
}
.ct-section.align-content--start .ct-section-inner-wrap {
  display: flex;
  align-content: flex-start;
}
.ct-section.align-content--end .ct-section-inner-wrap {
  display: flex;
  align-content: flex-end;
}
.ct-section.align-content--center .ct-section-inner-wrap {
  display: flex;
  align-content: center;
}
.ct-section.align-content--baseline .ct-section-inner-wrap {
  display: flex;
  align-content: baseline;
}
.ct-section.align-content--stretch .ct-section-inner-wrap {
  display: flex;
  align-content: stretch;
}
.ct-section.justify-items--start .ct-section-inner-wrap {
  display: flex;
  justify-items: flex-start;
}
.ct-section.justify-items--center .ct-section-inner-wrap {
  display: flex;
  justify-items: center;
}
.ct-section.justify-items--end .ct-section-inner-wrap {
  display: flex;
  justify-items: flex-end;
}
.ct-section.justify-items--stretch .ct-section-inner-wrap {
  display: flex;
  justify-items: stretch;
}
.ct-section.align-items--start .ct-section-inner-wrap {
  display: flex;
  align-items: flex-start;
}
.ct-section.align-items--end .ct-section-inner-wrap {
  display: flex;
  align-items: flex-end;
}
.ct-section.align-items--center .ct-section-inner-wrap {
  display: flex;
  align-items: center;
}
.ct-section.align-items--baseline .ct-section-inner-wrap {
  display: flex;
  align-items: baseline;
}
.ct-section.align-items--stretch .ct-section-inner-wrap {
  display: flex;
  align-items: stretch;
}
.ct-section.self--start .ct-section-inner-wrap {
  display: flex;
  align-self: flex-start;
}
.ct-section.self--end .ct-section-inner-wrap {
  display: flex;
  align-self: flex-end;
}
.ct-section.self--stretch .ct-section-inner-wrap {
  display: flex;
  align-self: stretch;
}
.ct-section.grid--1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr;
  width: 100%;
}
.ct-section.grid--2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--4 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--5 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--6 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
}
.ct-section.grid--1-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.ct-section.grid--1-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.ct-section.grid--2-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.ct-section.grid--2-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}
.ct-section.grid--3-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}
.ct-section.grid--3-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}
.ct-section.grid--auto-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(46.1538461538rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-4 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(27.6553106212rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-5 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(23.0383973289rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-6 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(19.7424892704rem, 100vw - 6rem), 1fr));
  width: 100%;
}
.ct-section.grid--auto-1-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.ct-section.grid--auto-1-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.ct-section.grid--auto-2-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.ct-section.grid--auto-2-3 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}
.ct-section.grid--auto-3-1 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}
.ct-section.grid--auto-3-2 .ct-section-inner-wrap {
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}
@media (max-width: 1439px) {
  .ct-section.grid--xl-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--xl-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--xl-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--xl-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--xl-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--xl-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .ct-section.grid--l-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--l-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--l-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--l-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--l-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--l-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .ct-section.grid--m-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--m-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--m-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--m-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--m-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--m-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 479px) {
  .ct-section.grid--s-1 .ct-section-inner-wrap {
    grid-template-columns: 1fr;
  }
  .ct-section.grid--s-2 .ct-section-inner-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ct-section.grid--s-3 .ct-section-inner-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .ct-section.grid--s-4 .ct-section-inner-wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ct-section.grid--s-5 .ct-section-inner-wrap {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .ct-section.grid--s-6 .ct-section-inner-wrap {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (max-width: 991px) {
  .ct-section.grid--auto-1-2 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-1-3 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-3-2 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-2-3 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-2-1 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
  .ct-section.grid--auto-3-1 .ct-section-inner-wrap {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  }
}
.ct-section.gap--xs > .ct-section-inner-wrap {
  gap: 1.896rem;
  gap: calc(1.0666666667rem + (0.2666666667 * ((100vw - 32rem) / 112)));
  gap: clamp(1.0666666667rem, calc(0.2380952381vw + 0.9904761905rem), 1.3333333333rem);
}
.ct-section.gap--s > .ct-section-inner-wrap {
  gap: 2.133rem;
  gap: calc(1.6rem + (0.4 * ((100vw - 32rem) / 112)));
  gap: clamp(1.6rem, calc(0.3571428571vw + 1.4857142857rem), 2rem);
}
.ct-section.gap--m > .ct-section-inner-wrap {
  gap: 2.4rem;
  gap: calc(2.4rem + (0.6 * ((100vw - 32rem) / 112)));
  gap: clamp(2.4rem, calc(0.5357142857vw + 2.2285714286rem), 3rem);
}
.ct-section.gap--l > .ct-section-inner-wrap {
  gap: 2.7rem;
  gap: calc(3.12rem + (1.38 * ((100vw - 32rem) / 112)));
  gap: clamp(3.12rem, calc(1.2321428571vw + 2.7257142857rem), 4.5rem);
}
.ct-section.gap--xl > .ct-section-inner-wrap {
  gap: 3.038rem;
  gap: calc(4.056rem + (2.694 * ((100vw - 32rem) / 112)));
  gap: clamp(4.056rem, calc(2.4053571429vw + 3.2862857143rem), 6.75rem);
}
.ct-section.gap--xxl > .ct-section-inner-wrap {
  gap: 3.42rem;
  gap: calc(5.2728rem + (4.8522 * ((100vw - 32rem) / 112)));
  gap: clamp(5.2728rem, calc(4.3323214286vw + 3.8864571429rem), 10.125rem);
}
.ct-link-button.btn--primary {
  background-color: var(--primary);
  color: var(--primary-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--primary);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--primary:hover {
  background-color: var(--primary-hover);
  color: var(--primary-ultra-light);
  border-color: var(--primary-hover);
  cursor: pointer;
}
.ct-link-button.btn--primary.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--primary);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--primary.btn--outline:hover {
  background-color: var(--primary-hover);
  color: var(--primary-ultra-light);
}
.ct-link-button.btn--secondary {
  background-color: var(--secondary);
  color: var(--secondary-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--secondary);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--secondary:hover {
  background-color: var(--secondary-hover);
  color: var(--secondary-ultra-light);
  border-color: var(--secondary-hover);
  cursor: pointer;
}
.ct-link-button.btn--secondary.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--secondary);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--secondary.btn--outline:hover {
  background-color: var(--secondary-hover);
  color: var(--secondary-ultra-light);
}
.ct-link-button.btn--accent {
  background-color: var(--accent);
  color: var(--accent-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--accent);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--accent:hover {
  background-color: var(--accent-hover);
  color: var(--accent-ultra-light);
  border-color: var(--accent-hover);
  cursor: pointer;
}
.ct-link-button.btn--accent.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--accent);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--accent.btn--outline:hover {
  background-color: var(--accent-hover);
  color: var(--accent-ultra-light);
}
.ct-link-button.btn--base {
  background-color: var(--base);
  color: var(--base-ultra-light);
  cursor: pointer;
  border-style: solid;
  border-color: var(--base);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--base:hover {
  background-color: var(--base-hover);
  color: var(--base-ultra-light);
  border-color: var(--base-hover);
  cursor: pointer;
}
.ct-link-button.btn--base.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: var(--base);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--base.btn--outline:hover {
  background-color: var(--base-hover);
  color: var(--base-ultra-light);
}
.ct-link-button.btn--black {
  background-color: #1C1C20;
  color: #FAFAFA;
  cursor: pointer;
  border-style: solid;
  border-color: #1C1C20;
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--black:hover {
  background-color: #875C74;
  color: #FAFAFA;
  border-color: #FAFAFA;
  cursor: pointer;
}
.ct-link-button.btn--black.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: #1C1C20;
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--black.btn--outline:hover {
  background-color: #875C74;
  color: var(--primary-ultra-light);
}
.ct-link-button.btn--white {
  background-color: #FAFAFA;
  color: #1C1C20;
  cursor: pointer;
  border-style: solid;
  border-color: #FAFAFA;
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
}
.ct-link-button.btn--white:hover {
  background-color: #875C74;
  color: #FAFAFA;
  border-color: #1C1C20;
  cursor: pointer;
}
.ct-link-button.btn--white.btn--outline {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  color: #FAFAFA;
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
}
.ct-link-button.btn--white.btn--outline:hover {
  background-color: #875C74;
  color: #FAFAFA;
}
.ct-link-button.btn--xs {
  font-size: 1.26rem;
  font-size: calc(0.9004501688rem + (0.1125562711 * ((100vw - 32rem) / 112)));
  font-size: max(1 * 1rem, 1.0130064399 * 1rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
.ct-link-button.btn--s {
  font-size: 1.42rem;
  font-size: calc(1.200300075rem + (0.1500375094 * ((100vw - 32rem) / 112)));
  font-size: max(1.1 * 1rem, 1.3503375844 * 1rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
.ct-link-button.btn--m {
  font-size: 1.8rem;
  font-size: calc(1.6rem + (0.2 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.6rem, calc(0.1785714286vw + 1.5428571429rem), 1.8rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
.ct-link-button.btn--l {
  font-size: 2.025rem;
  font-size: calc(1.92rem + (0.4794 * ((100vw - 32rem) / 112)));
  font-size: clamp(1.92rem, calc(0.4280357143vw + 1.7830285714rem), 2.3994rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
.ct-link-button.btn--xl {
  font-size: 2.28rem;
  font-size: calc(2.304rem + (0.8944002 * ((100vw - 32rem) / 112)));
  font-size: clamp(2.304rem, calc(0.7985716071vw + 2.0484570857rem), 3.1984002rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
.ct-link-button.btn--xxl {
  font-size: 2.565rem;
  font-size: calc(2.7648rem + (1.4986674666 * ((100vw - 32rem) / 112)));
  font-size: clamp(2.7648rem, calc(1.3380959523vw + 2.3366092953rem), 4.2634674666rem);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  cursor: pointer;
}
@media (min-width: 1439px) {
  .ct-image.breakout--s {
    width: 60vw;
    max-width: 60vw !important;
    margin: 0 calc(-30vw + 50%);
  }
  .ct-image.breakout--m {
    width: 70vw;
    max-width: 70vw !important;
    margin: 0 calc(-35vw + 50%);
  }
  .ct-image.breakout--l {
    width: 80vw;
    max-width: 80vw !important;
    margin: 0 calc(-40vw + 50%);
  }
  .ct-image.breakout--xl {
    width: 90vw;
    max-width: 90vw !important;
    margin: 0 calc(-45vw + 50%);
  }
}
.ct-image.breakout--full {
  width: 100vw !important;
  max-width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
  align-self: flex-start;
}
@media (max-width: 1439px) {
  [class*="breakout--"]:not(.breakout--full) {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
  }
}
.ct-section.stretch .ct-section-inner-wrap {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  justify-items: stretch;
}
.ct-link-text.link--skip {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translateY(-250%);
  padding: 1em 1.5em;
  border-width: 0.25rem;
  border-radius: 0;
  background: var(--primary);
  color: var(--primary-ultra-light);
}
.ct-link-text.link--skip:focus {
  transform: translateY(0);
}
.ct-section.flex--wrap > .ct-section-inner-wrap {
  flex-wrap: wrap;
}
.ct-span.text--100 {
  font-weight: 100;
}
.ct-span.text--200 {
  font-weight: 200;
}
.ct-span.text--300 {
  font-weight: 300;
}
.ct-span.text--400 {
  font-weight: 400;
}
.ct-span.text--500 {
  font-weight: 500;
}
.ct-span.text--600 {
  font-weight: 600;
}
.ct-span.text--700 {
  font-weight: 700;
}
.ct-span.text--800 {
  font-weight: 800;
}
.ct-span.text--900 {
  font-weight: 900;
}
.ct-span.text--bold {
  font-weight: bold;
}
.ct-span.text--italic {
  font-style: italic;
}
.ct-span.text--oblique {
  font-style: oblique;
}
.ct-span.text--decoration-none {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.ct-span.text--underline {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.ct-span.text--underline-wavy {
  -webkit-text-decoration: underline wavy;
  text-decoration: underline wavy;
}
.ct-span.text--underline-dotted {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.ct-span.text--underline-double {
  -webkit-text-decoration: underline double;
  text-decoration: underline double;
}
.ct-span.text--underline-dashed {
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
}
.ct-span.text--overline {
  -webkit-text-decoration: overline;
  text-decoration: overline;
}
.ct-span.text--line-through {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}
.ct-span.text--transform-none {
  text-transform: none;
}
.ct-span.text--uppercase {
  text-transform: uppercase;
}
.ct-span.text--lowercase {
  text-transform: lowercase;
}
.ct-span.text--capitalize {
  text-transform: capitalize;
}
.ct-span.text--left {
  text-align: left;
}
.ct-span.text--center {
  text-align: center;
}
.ct-span.text--right {
  text-align: right;
}
.ct-span.text--justify {
  text-align: justify;
}
.ct-video.aspect--1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--1-1 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--1-2 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--2-1 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--2-3 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--3-2 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--3-4 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--4-3 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--16-9 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
.ct-video.aspect--9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
  position: relative;
}
.ct-video.aspect--9-16 > .oxygen-vsb-responsive-video-wrapper {
  padding-bottom: 0 !important;
}
@media (max-width: 1439px) {
  .aspect--xl-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--xl-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--xl-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 991px) {
  .aspect--l-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--l-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--l-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .aspect--m-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--m-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--m-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 479px) {
  .aspect--s-1-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-1-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-1-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-1-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-2-1 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-2-1 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-2-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-2-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-3-2 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-3-2 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-3-4 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-3-4 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-4-3 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-4-3 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-16-9 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-16-9 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
  .aspect--s-9-16 > .oxygen-vsb-responsive-video-wrapper > iframe {
    position: relative;
  }
  .aspect--s-9-16 > .oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 0 !important;
  }
}
